/*color generate #46b7dd*/
:root {
	--bg: #f3f3f3;
	--border: #c0c0c0;
	--primary: #1a94c0;
	--hover: #1977a1;
	--active: #1b6183;
	--disabled: #d4f2f9;
	--color-50: #eefafd;
	--color-100: #d4f2f9;
	--color-200: #aeeaf3;
	--color-300: #75cfeb;
	--color-400: #46b7dd;
	--color-500: #1a94c0;
	--color-600: #1977a1;
	--color-700: #1b6813;
	--color-800: #1e506c;
	--color-900: #1e445b;
	--color-950: #0e2a3e;
}

* {
	box-sizing: border-box;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg);
}

section {
	background: white;
	border-radius: 8px;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:hover {
	color: var(--hover);
}

a:active {
	color: var(--active);
}

button {
	/*margin: 1.5em 0 0.5em 0;*/
	user-select: none;
	background: var(--primary);
	color: white;
	padding: 0.5em 1em;
	border-radius: 6px;
	border: none;
	font-weight: 600;
}

button:hover {
	background: var(--hover);
}

button:active {
	background: var(--active);
}

button:disabled {
	background: var(--color-400);
}

input {
	border-radius: 6px;
	border: solid 1px var(--border);
	height: 2.3em;
	padding: 0 10px;
}

input:focus {
	outline: solid 2px var(--primary);
	/*outline: none;*/
}
